body {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.win-ui-light {
    color-scheme: light;
}

.win-ui-dark {
    color-scheme: dark;
}

.root {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

#progress-bar.win-progress-bar {
    width: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    -webkit-appearance: auto;
    appearance: auto;
}

h3.win-type-title {
    margin-top: 24px;
    margin-bottom: 6px;
}

#enchants-results-group h3.win-type-title {
    margin-top: 0;
}

h5.win-type-base {
    margin-top: 12px;
    margin-bottom: 8px;
}

.win-pivot .win-pivot-header,
.win-pivot .win-pivot-header.win-pivot-header:hover:active {
    font-family: "Segoe UI", sans-serif, "Segoe MDL2 Assets", Symbols, "Segoe UI Emoji";
}

.win-pivot-item .win-pivot-item-content {
    margin: 0 7px;
    padding: 0 19px;
}

.win-button,
.win-textbox,
.win-dropdown,
.win-autosuggestbox {
    min-width: auto;
}

.win-textbox,
.win-dropdown,
.win-autosuggestbox {
    width: 100%;
    margin: 0;
}

.win-dropdown {
    max-width: none;
}

.win-pivot,
.win-listview,
.win-listview > .win-viewport,
.win-listview .win-viewport .win-container,
.win-listview .win-viewport .win-container .win-itembox {
    height: auto;
}

    .win-listview > .win-vertical .win-container {
        margin: 10px 7px;
    }

.win-pivot {
    flex: 1;
}

.win-code {
    font-family: "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", "Cascadia Next SC", "Cascadia Next TC", "Cascadia Next JP", Consolas, Menlo, Monaco, "Courier New", monospace;
}

.pivot-container {
    flex: 1;
    display: flex;
    margin: 0 -23px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-group {
    margin-top: 12px;
}

.wanted-list-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

    .wanted-list-root .win-button {
        height: 32px;
        width: 32px;
        padding: 2px 0 0 1px;
    }

        .wanted-list-root .win-button:not(:hover):not(:active) {
            background-color: transparent;
        }

.results-output {
    margin: 12px 1px 0 1px;
    overflow-x: auto;
}
