.pivot-container,
.root,
body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.win-ui-light {
    color-scheme: light;
}

.win-ui-dark {
    color-scheme: dark;
}

.root {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px;
}

#progress-bar.win-progress-bar {
    -webkit-appearance: auto;
    appearance: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

h3.win-type-title {
    margin-bottom: 6px;
    margin-top: 24px;
}

#enchants-results-group h3.win-type-title {
    margin-top: 5px;
}

h5.win-type-base {
    margin-bottom: 8px;
    margin-top: 12px;
}

.win-pivot .win-pivot-header,
.win-pivot .win-pivot-header.win-pivot-header:hover:active {
    font-family: Segoe UI, sans-serif, Segoe MDL2 Assets, Symbols, Segoe UI Emoji;
}

.win-pivot-item .win-pivot-item-content {
    margin: 0 7px;
    padding: 0 19px;
}

.win-autosuggestbox,
.win-button,
.win-dropdown,
.win-textbox {
    min-width: auto;
}

.win-autosuggestbox,
.win-dropdown,
.win-textbox {
    margin: 0;
    width: 100%;
}

.win-dropdown {
    max-width: none;
}

.win-listview,
.win-listview .win-viewport .win-container,
.win-listview .win-viewport .win-container .win-itembox,
.win-listview > .win-viewport,
.win-pivot {
    height: auto;
}

    .win-listview .win-itemscontainer {
        height: auto !important;
    }

    .win-listview .win-listlayout .win-itemsblock {
        margin: 0;
    }

        .win-listview .win-listlayout .win-itemsblock:nth-child(n+3) {
            margin-top: -14px;
        }

    .win-listview > .win-vertical .win-container {
        margin: 10px 7px;
    }

.win-pivot {
    flex: 1;
}

.win-code {
    font-family: "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", "Cascadia Next SC", "Cascadia Next TC", "Cascadia Next JP", Consolas, Menlo, Monaco, "Courier New", monospace;
}

    .win-code.win-type-base {
        font-weight: 500;
        line-height: 1.333;
    }

.pivot-container {
    margin: 0 -23px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-group {
    margin-top: 12px;
}

.wanted-list-root {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 6px 8px 6px 10px;
}

    .wanted-list-root .win-button {
        height: 32px;
        padding: 2px 0 0 1px;
        width: 32px;
    }

        .wanted-list-root .win-button:not(:hover):not(:active) {
            background-color: transparent;
        }

.results-output {
    margin: 12px 1px 0;
    overflow-x: auto;
}

.accent-text {
    color: #fff;
}
